/* index.css */
/* --------------------------------------------------------------------------------------------------헤더 시작 */
/* 헤더 띠배너 광고 */
header {position: fixed; width: 100%; z-index: 999; background-color: var(--color-bg);}
header .top_ad {
    height: 35px;
    background-color: var(--color-txt); padding:5px 120px;
    position: relative;
}
header .top_ad .ad_txt {
    font-family:'pretendard', 'Noto Snas KR';
    font-size: 0.938rem;
    color: var(--color-point);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header .top_ad .ad_close_btn {}
header .top_ad .ad_close_btn button {}
header .top_ad .ad_close_btn button img {width: 100%;}
/* 헤더메뉴바 */
header .top_menu {padding: 20px 240px; position: relative; border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
header .top_menu #total_menu {}
header .top_menu #total_menu img {width: 100%;}
header .top_menu .logo {
    width: 124px; height: 24px; 
    position: absolute; left: 50%; top:32%;
    transform: translateX(-50%); 
}
header .top_menu .logo img {width:100%;}
header .top_menu .main_menu {gap: 12px;}
header .top_menu .main_menu #secrch {}
header .top_menu .main_menu .cart_menu {gap: 4px;}
header .top_menu .main_menu .cart_menu a {}
header .top_menu .main_menu .cart_menu img {width: 100%;}
/* --------------------------------------------------------------------------------------------------main 시작 */
/* --------------------------------------------------------------1행 시작 */
/* swiper 내장 css - swiper플러그인에 기본 내장된 css는 디자인 시 사용금지 */
/* swiper -> ovserflow:hidden; position:relative */
/* swiper-wrapper -> position:relative width:max-content; transform;  */
/* swiper-slide -> position:relative (가로크기 금지) */
/* popular_prev, next는 absolute 기본내장 */
main {}
main .hero_banner {}
main .hero_banner .hero {}
main .hero_banner .hero .swiper-wrapper {}
/* 버튼 디자인 */
main .hero_banner .hero .image_banner_prev,
main .hero_banner .hero .image_banner_next {width: 38px; height: 38px; color: var(--color-bg);}

main .hero_banner .hero .image_banner_prev {transform: translate(200%, 120%);}
main .hero_banner .hero .image_banner_next {transform: translate(-200%, 120%);}
/* 버튼 디자인 종료 */
/* 페이지 넘버 표시 */
main .hero_banner .hero .image_banner_page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    top: 88%
}
main .hero_banner .hero .image_banner_page .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin: 0 !important; /* 각 점의 기본 주변 여백 강제 없애기 */
    background: #fff;
    opacity: 1;
    transition: width 0.3s ease;
}
main .hero_banner .hero .image_banner_page .swiper-pagination-bullet-active {width: 29px;}
/* 페이지 넘버 표시 종료 */
main .hero_banner .hero .swiper-wrapper .swiper-slide {}

/* ---------------------------------개별 슬라이드 1 */
main .hero_banner .hero .swiper-wrapper .hero1 {padding-top: 104px;}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 {
    display: block;
    height: calc(100vw * 840 / 1920);
    background-image: url(../images/image_slide1_b.png);
    background-size: 105% auto;
    background-repeat: no-repeat;
    background-position: left 70%;
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt {
    position: absolute; left: 11%; bottom: 32%;
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt p:nth-child(1) {
    font-family:'pretendard', 'Noto Snas KR'; font-size: 1.25rem; color: var(--color-bg);
    margin-bottom: 10px;
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt p:nth-child(2) {
    font-family:'pretendard', 'Noto Snas KR'; font-size:2.5rem; font-weight: 600;
    line-height: 1.4; color: var(--color-bg);
    margin-bottom: 33px;
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn {
    width: max-content; padding: 12px 24px; color: var(--color-bg);
    gap: 8px;
    border-radius: 50px;
    border: 1px solid var(--color-bg);
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn span {
    font-family:'pretendard', 'Noto Snas KR'; font-size: 1.063rem;
    letter-spacing: -0.04em;
    color: var(--color-bg);
    transform: translateY(1px);
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn img {width: 20px; height: 20px;}
/* ---------------------------------개별 슬라이드 2 */
main .hero_banner .hero .swiper-wrapper .hero2 {padding-top: 104px;}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 {
    display: block;
    height: calc(100vw * 840 / 1920);
    background-image: url(../images/image_slide_bg2.png);
    background-size: 105% auto;
    background-repeat: no-repeat;
    background-position: left 80%;
}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt {position: absolute; left: 11%; bottom: 32%;}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt p:nth-child(1) {
    font-family:'pretendard', 'Noto Snas KR'; font-size: 1.25rem; color: var(--color-txt);
    margin-bottom: 10px;
}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt p:nth-child(2) {
    font-family:'pretendard', 'Noto Snas KR'; font-size:2.5rem; font-weight: 600;
    line-height: 1.4; color: var(--color-txt);
    margin-bottom: 33px;
}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt p {}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt .show_now_btn {
    width: max-content; padding: 12px 24px; color: var(--color-txt);
    gap: 12px;
    border-radius: 50px;
    border: 1px solid var(--color-txt);
}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt .show_now_btn span {
    font-family:'pretendard', 'Noto Snas KR'; font-size: 1.063rem;
    letter-spacing: -0.04em;
    color: var(--color-txt);
    transform: translateY(1px);
}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt .show_now_btn img {width: 20px; height: 20px;}

/* --------------------------------------------------------------2행 시작 */
main .brand_slogan_wrap .brand_slogan {
    padding: 115px 240px 38px 240px; text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.8s;
}
main .brand_slogan_wrap .brand_slogan p {font-family:'pretendard', 'Noto Snas KR'; font-weight: 0.875rem;}
main .brand_slogan_wrap .brand_slogan p:nth-child(1){font-family: 'HYGothic-Extra', 'pretendard'; margin-bottom: 15px;}
main .brand_slogan_wrap .brand_slogan p:nth-child(2){font-size: 3.438rem; font-weight: 500; margin-bottom: 29px;}
main .brand_slogan_wrap .brand_slogan p:nth-child(3){font-size: 1.063rem; line-height: 2;}
/* 스크롤 했을 때 브랜드 슬로건 active 클래스 주기 */
/* 숨겨져 있다가 스크롤 시 위로 올라오는 애니메이션 */
main .brand_slogan_wrap .brand_slogan.active {
    opacity: 1;
    transform: translateY(0);
}
/* --------------------------------------------------------------3행 시작 */
main .best_product_wrap {position: relative; padding: 104px 240px 63px 240px;}
/* 제목 디자인 */
main .best_product_wrap .title_more_wrap {margin-bottom: 46px;}
main .best_product_wrap .title_more_wrap .title_g * {font-family:'pretendard', 'Noto Snas KR';}
main .best_product_wrap .title_more_wrap .title_g .title {font-size: 2.25rem; font-weight: 600; line-height: 1.5; margin-bottom: 8px;}
main .best_product_wrap .title_more_wrap .title_g .sub_title {font-size: 1.125rem; color: rgba(0, 0, 0, 0.5);}
/* 더보기 및 더보기 호버 */
main .best_product_wrap .title_more_wrap .more {
    display: block;
    margin: 0;
    width: 53px; height: 53px;
    background-image: url(../images/best_wrap/more.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: 0.3s ease-out;
}
main .best_product_wrap .title_more_wrap .more img {width: 100%;}
main .best_product_wrap .title_more_wrap .more:hover {background-image: url(../images/best_wrap/more_hover.svg);}
/* 상품 디자인 */
main .best_product_wrap .best_product_swiper {}
main .best_product_wrap .best_product_swiper .swiper-wrapper {width: 1450px;}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide {}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide * {font-family:'pretendard', 'Noto Snas KR';}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide a {display: block; width: 343px; height: 417px; margin-bottom: 18px;}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .product_name {}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .product_name .name {line-height: 1.5; font-size: 1.063rem; margin-bottom: 6px;}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .product_name .sub_txt  {
    font-family: 'GMarketSans', 'pretendard'; font-weight: 500; font-size: 0.906rem;
    color: rgba(0, 0, 0, 0.4); margin-bottom: 26px;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .price  {font-size: 0.969rem; font-weight: 700; margin-bottom: 17px;}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .cart  {text-align: center;}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .cart .cart_btn  {
    border: 1px solid #DADADA; 
    background-color: var(--color-bg); line-height: 40px;
    width: 100%; color: var(--color-txt); font-size: 0.938rem;
    transition: 0.3s ease-out;
}
/* 장바구니 호버기능 */
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .cart:hover .cart_btn {
    background-color: var(--color-txt); line-height: 40px; text-align: center;
    border: 1px solid var(--color-txt); color: var(--color-bg); font-size: 0.938rem;
    font-weight: 500;
}
/* 베스트상품 이미지 연결 및 호버 연결 */
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img1 {
    background-image: url(../images/best_wrap/best_product_1.jpg); 
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img1:hover {
    background-image: url(../images/best_wrap/best_product_1_hover.jpg); 
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-size: 100% auto;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img2 {
    background-image: url(../images/best_wrap/best_product_2.jpg); 
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img2:hover {
    background-image: url(../images/best_wrap/best_product_2_hover.jpg); 
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-size: 100% auto;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img3 {
    background-image: url(../images/best_wrap/best_product_3.jpg); 
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img3:hover {
    background-image: url(../images/best_wrap/best_product_3_hover.jpg); 
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-size: 100% auto;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img4 {
    background-image: url(../images/best_wrap/best_product_4.jpg); 
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img4:hover {
    background-image: url(../images/best_wrap/best_product_4_hover.jpg); 
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-size: 100% auto;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img5 {
    background-image: url(../images/best_wrap/best_product_5.jpg); 
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img5:hover {
    background-image: url(../images/best_wrap/best_product_5_hover.jpg); 
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-size: 100% auto;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img6 {
    background-image: url(../images/best_wrap/best_product_6.jpg); 
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
}
main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img6:hover {
    background-image: url(../images/best_wrap/best_product_6_hover.jpg); 
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-size: 100% auto;
}
/* 버튼 디자인 */
main .best_product_wrap .best_prev,
main .best_product_wrap .best_next {position: absolute; width: 40px; height: 40px; color: rgba(34, 34, 34, 0.6);}

main .best_product_wrap .best_prev {transform: translate(190%, 120%);}
main .best_product_wrap .best_next {transform: translate(-190%, 120%);}