/* index.css */
/* ------------------------------------------------------------------------헤더 시작 */
/* 헤더 띠배너 광고 */
header {position: fixed; width: 100%; z-index: 999; background-color: var(--color-bg);}
header .top_ad {
    height: 35px;
    background-color: var(--color-txt); padding:5px 120px;
    position: relative;
}
header .top_ad .ad_txt {
    font-family:'pretendard', 'Noto Snas KR';
    font-size: 0.938rem;
    color: var(--color-point);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header .top_ad .ad_close_btn {}
header .top_ad .ad_close_btn button {}
header .top_ad .ad_close_btn button img {width: 100%;}
/* 헤더메뉴바 */
header .top_menu {padding: 20px 240px; position: relative; border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
header .top_menu #total_menu {}
header .top_menu #total_menu img {width: 100%;}
header .top_menu .logo {
    width: 124px; height: 24px; 
    position: absolute; left: 50%; top:32%;
    transform: translateX(-50%); 
}
header .top_menu .logo img {width:100%;}
header .top_menu .main_menu {gap: 12px;}
header .top_menu .main_menu #secrch {}
header .top_menu .main_menu .cart_menu {gap: 4px;}
header .top_menu .main_menu .cart_menu a {}
header .top_menu .main_menu .cart_menu img {width: 100%;}
/* ------------------------------------------------------------------------main 시작 */
/* --------------------------------------------------------------1행 시작 */
/* swiper 내장 css - swiper플러그인에 기본 내장된 css는 디자인 시 사용금지 */
/* swiper -> ovserflow:hidden; position:relative */
/* swiper-wrapper -> position:relative width:max-content; transform;  */
/* swiper-slide -> position:relative (가로크기 금지) */
/* popular_prev, next는 absolute 기본내장 */
main {}
main .hero_banner {}
main .hero_banner .hero {}
main .hero_banner .hero .swiper-wrapper {}
main .hero_banner .hero .swiper-wrapper .swiper-slide {}
/* 개별 슬라이드 1 */
main .hero_banner .hero .swiper-wrapper .hero1 {padding-top: 104px;}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 {
    width: 100%;
    display: block;
    height: calc(100vh - 104px);
    background-image: url(../images/image_slide1_b.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 20% center;
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt {
    position: absolute; left: 11%; bottom: 32%;
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt p:nth-child(1) {
    font-family:'pretendard', 'Noto Snas KR';
    font-size: 1.25rem; color: var(--color-bg);
    margin-bottom: 10px;
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt p:nth-child(2) {
    font-family:'pretendard', 'Noto Snas KR';
    font-size:2.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: var(--color-bg);
    margin-bottom: 33px;

}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn {
    width: max-content;
    padding: 12px 24px;
    color: var(--color-bg);
    gap: 12px;
    border-radius: 50px;
    border: 1px solid var(--color-bg);
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn span {
    font-family:'pretendard', 'Noto Snas KR';
    font-size: 1.063rem;
    letter-spacing: -0.04em;
    color: var(--color-bg);
    transform: translateY(1px);
}
main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn img {width: 20px; height: 20px;}
/* 개별 슬라이드 2 */
main .hero_banner .hero .swiper-wrapper .hero2 {padding-top: 104px;}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 {
    width: 100%;
    display: block;
    height: calc(100vh - 104px);
    background-position: center;
    background-image: url(../images/image_slide_bg2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 p:nth-child(1) {font-size: 1.25rem; color: var(--color-txt);}
main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 p:nth-child(2) {}