/* 반응형 미디어 규칙 */
/* -----------------------------------------------------------------태블릿 */
@media screen and (max-width:1500px) {
    header {width: 100%;}
    header .top_ad {}
    header .top_ad .ad_txt {}
    header .top_ad .ad_close_btn {}
    /* 헤더메뉴바 */
    header .top_menu {padding: 20px 80px; position: relative; border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
    header .top_menu #total_menu {}
    header .top_menu #total_menu img {}
    header .top_menu .logo {
        width: 103px; height: 20px; 
        position: absolute; left: 50%;  top:35%;
        transform: translateX(-50%);
    }
    header .top_menu .logo img {}
    header .top_menu .main_menu {gap: 12px;}
    header .top_menu .main_menu a {font-size: 0.875rem;}
    header .top_menu .main_menu #secrch {font-size: 0.875rem;}
    header .top_menu .main_menu .cart_menu {}
    header .top_menu .main_menu .cart_menu a {font-size: 0.875rem;}
    header .top_menu .main_menu .cart_menu img {}
    /* --------------------------------------------------------------------------------------------------main 시작 */
    /* --------------------------------------------------------------1행 시작 */
    main {}
    main .hero_banner {}
    main .hero_banner .hero {}
    main .hero_banner .hero .swiper-wrapper {}
    /* 버튼 디자인 */
    main .hero_banner .hero .image_banner_prev,
    main .hero_banner .hero .image_banner_next {width: 38px; height: 38px; color: var(--color-bg);}

    main .hero_banner .hero .image_banner_prev {transform: translate(80%, 120%);}
    main .hero_banner .hero .image_banner_next {transform: translate(-80%, 120%);}
    /* 버튼 디자인 종료 */
    /* 페이지 넘버 표시 */
    main .hero_banner .hero .image_banner_page {gap: 8px; top: 88%}
    main .hero_banner .hero .image_banner_page .swiper-pagination-bullet {width: 8px; height: 8px; transition: width 0.3s ease;}
    main .hero_banner .hero .image_banner_page .swiper-pagination-bullet-active {width: 29px;}
    /* 페이지 넘버 표시 종료 */
    main .hero_banner .hero .swiper-wrapper .swiper-slide {}

    /* ---------------------------------개별 슬라이드 1 */
    main .hero_banner .hero .swiper-wrapper .hero1 {padding-top: 104px;}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 {
        height: calc(100vw * 740 / 1024);
        background-image: url(../images/image_slide_bg1_t.jpg);
        background-size: 110% auto;
        background-position: right 20%;
    }
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt {left: 11%; bottom: 12%;}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt p:nth-child(1) {font-size: 1.125rem; margin-bottom: 13px;}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt p:nth-child(2) {font-size:2.125rem; margin-bottom: 13px;}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn {padding: 11px 16px; gap: 10px;}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn span { font-size: 1rem; letter-spacing: -0.04em; transform: translateY(1.5px);}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn img {width: 20px; height: 20px;}
    /* ---------------------------------개별 슬라이드 2 */
    main .hero_banner .hero .swiper-wrapper .hero2 {padding-top: 104px;}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 {
        height: calc(100vw * 740 / 1024);
        background-image: url(../images/image_slide_bg2_t.jpg);
        background-size: 100% auto;
        background-position: left 20%;
    }
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt {left: 11%; bottom: 12%;}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt p:nth-child(1) {font-size: 1.125rem; margin-bottom: 13px;}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt p:nth-child(2) {font-size:2.125rem;margin-bottom: 13px;}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt .show_now_btn {padding: 11px 16px; gap: 10px;}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt .show_now_btn span {font-size: 1rem; transform: translateY(1.5px);}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt .show_now_btn img {width: 20px; height: 20px;}
    /* --------------------------------------------------------------2행 시작 */
    main .brand_slogan_wrap .brand_slogan {
        padding: 80px 80px; text-align: center;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.8s;
    }
    main .brand_slogan_wrap .brand_slogan p {font-family:'pretendard', 'Noto Snas KR';}
    main .brand_slogan_wrap .brand_slogan p:nth-child(1){font-family: 'HYGothic-Extra', 'pretendard'; font-size: 0.813rem; margin-bottom: 15px;}
    main .brand_slogan_wrap .brand_slogan p:nth-child(2){font-size: 2.813rem; font-weight: 500; margin-bottom: 29px;}
    main .brand_slogan_wrap .brand_slogan p:nth-child(3){font-size: 1rem; line-height: 2;}
    /* 스크롤 했을 때 브랜드 슬로건 active 클래스 주기 */
    /* 숨겨져 있다가 스크롤 시 위로 올라오는 애니메이션 */
    main .brand_slogan_wrap .brand_slogan.active {
        opacity: 1;
        transform: translateY(0);
    }
    /* --------------------------------------------------------------3행 시작 */
    main .best_product_wrap {padding: 80px 80px;}
    /* 제목 디자인 */
    main .best_product_wrap .title_more_wrap {}
    main .best_product_wrap .title_more_wrap .title_g * {}
    main .best_product_wrap .title_more_wrap .title_g .title {font-size: 1.875rem; margin-bottom: 8px;}
    main .best_product_wrap .title_more_wrap .title_g .sub_title {font-size: 1rem;}
    /* 더보기 및 더보기 호버 */
    main .best_product_wrap .title_more_wrap .more {
        width: 53px; height: 53px;
        background-image: url(../images/best_wrap/more.svg);
    }
    main .best_product_wrap .title_more_wrap .more img {}
    main .best_product_wrap .title_more_wrap .more:hover {background-image: url(../images/best_wrap/more_hover.svg);}
    /* 상품 디자인 */
    main .best_product_wrap .best_product_swiper {}
    main .best_product_wrap .best_product_swiper .swiper-wrapper {}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide {}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide * {}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide a {width: 100%; aspect-ratio: 268 / 323; margin-bottom: 18px;}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .product_name {}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .product_name .name {line-height: 1.5; font-size: 1rem; margin-bottom: 6px;}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .product_name .sub_txt  {font-size: 0.906rem; margin-bottom: 26px;}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .price  {font-size: 0.938rem; margin-bottom: 17px;}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .cart  {text-align: center;}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .cart .cart_btn  {line-height: 40px; width: 100%; font-size: 0.938rem;}
    /* 장바구니 호버기능 */
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .cart:hover .cart_btn {line-height: 40px; font-size: 0.906rem;}
    /* 베스트상품 이미지 연결 및 호버 연결 */
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img1 {
        background-image: url(../images/best_wrap/best_product_1.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img1:hover {
        background-image: url(../images/best_wrap/best_product_1_hover.jpg); 
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img2 {
        background-image: url(../images/best_wrap/best_product_2.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img2:hover {
        background-image: url(../images/best_wrap/best_product_2_hover.jpg); 
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img3 {
        background-image: url(../images/best_wrap/best_product_3.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img3:hover {
        background-image: url(../images/best_wrap/best_product_3_hover.jpg); 
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img4 {
        background-image: url(../images/best_wrap/best_product_4.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img4:hover {
        background-image: url(../images/best_wrap/best_product_4_hover.jpg); 
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img5 {
        background-image: url(../images/best_wrap/best_product_5.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img5:hover {
        background-image: url(../images/best_wrap/best_product_5_hover.jpg); 
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img6 {
        background-image: url(../images/best_wrap/best_product_6.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img6:hover {
        background-image: url(../images/best_wrap/best_product_6_hover.jpg); 
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
    }
    /* 버튼 디자인 */
    main .best_product_wrap .best_prev,
    main .best_product_wrap .best_next {position: absolute; width: 38px; height: 38px; color: rgba(34, 34, 34, 0.6);}

    main .best_product_wrap .best_prev {transform: translate(20%, 80%);}
    main .best_product_wrap .best_next {transform: translate(-20%, 80%);}
} /* 태블릿 끝 */


/* -----------------------------------------------------------------모바일 */
@media screen and (max-width:900px) {
    header {width: 100%;}
    header .top_ad {padding:5px 15px;}
    header .top_ad .ad_txt {font-size: 0.875rem;}
    header .top_ad .ad_close_btn {}
    /* 헤더메뉴바 */
    header .top_menu {padding: 15px 15px; position: relative; border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
    header .top_menu #total_menu {width: 24px; height: 24px;}
    header .top_menu #total_menu img {}
    header .top_menu .logo {
        width: 90px; height: 16px; 
        position: absolute; left: 50%;  top:35%;
        transform: translateX(-50%);
    }
    header .top_menu .logo img {}
    header .top_menu .main_menu {gap: 12px;}
    header .top_menu .main_menu .login,
    header .top_menu .main_menu .cart_menu,
    header .top_menu .main_menu .account {
        display: none;
    }
    header .top_menu .main_menu a {font-size: 0.875rem;}
    header .top_menu .main_menu #secrch {font-size: 0.875rem;}
    header .top_menu .main_menu .cart_menu {}
    header .top_menu .main_menu .cart_menu a {font-size: 0.875rem;}
    header .top_menu .main_menu .cart_menu img {}
    /* --------------------------------------------------------------------------------------------------main 시작 */
    /* --------------------------------------------------------------1행 시작 */
    main {}
    main .hero_banner {}
    main .hero_banner .hero {}
    main .hero_banner .hero .swiper-wrapper {}
    /* 버튼 디자인 */
    main .hero_banner .hero .image_banner_prev,
    main .hero_banner .hero .image_banner_next {width: 30px; height: 30px; color: var(--color-bg);}

    main .hero_banner .hero .image_banner_prev {transform: translate(80%, 120%);}
    main .hero_banner .hero .image_banner_next {transform: translate(-80%, 120%);}
    /* 버튼 디자인 종료 */
    /* 페이지 넘버 표시 */
    main .hero_banner .hero .image_banner_page {gap: 4px; top: 88%}
    main .hero_banner .hero .image_banner_page .swiper-pagination-bullet {width: 6px; height: 6px; transition: width 0.3s ease;}
    main .hero_banner .hero .image_banner_page .swiper-pagination-bullet-active {width: 29px;}
    /* 페이지 넘버 표시 종료 */
    main .hero_banner .hero .swiper-wrapper .swiper-slide {}

    /* ---------------------------------개별 슬라이드 1 */
    main .hero_banner .hero .swiper-wrapper .hero1 {padding-top: 89px;}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 {
        height: calc(100vw * 874 / 800);
        background-image: url(../images/image_slide_bg1_t.jpg);
        background-size: 140% auto;
        background-position: right 20%;
    }
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt {left: 11%; bottom: 12%;}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt p:nth-child(1) {font-size: 1rem; margin-bottom: 6px;}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt p:nth-child(2) {font-size:1.25rem; margin-bottom: 13px;}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn {padding: 8px 12px; gap: 10px;}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn span { font-size: 0.875rem; letter-spacing: -0.04em; transform: translateY(1px);}
    main .hero_banner .hero .swiper-wrapper .hero1 .image_slide1 .ad_txt .show_now_btn img {width: 16px; height: 16px;}
    /* ---------------------------------개별 슬라이드 2 */
    main .hero_banner .hero .swiper-wrapper .hero2 {padding-top: 89px;}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 {
        height: calc(100vw * 874 / 800);
        background-image: url(../images/image_slide_bg2_t.jpg);
        background-size: 110% auto;
        background-position: right 20%;
    }
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt {left: 11%; bottom: 12%;}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt p:nth-child(1) {font-size: 1rem; margin-bottom: 6px;}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt p:nth-child(2) {font-size:1.25rem;margin-bottom: 13px;}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt .show_now_btn {padding: 8px 12px; gap: 10px;}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt .show_now_btn span {font-size: 0.875rem; transform: translateY(1px);}
    main .hero_banner .hero .swiper-wrapper .hero2 .image_slide2 .ad_txt .show_now_btn img {width: 16px; height: 16px;}
        /* --------------------------------------------------------------2행 시작 */
    main .brand_slogan_wrap {}
    main .brand_slogan_wrap .brand_slogan {
        padding: 40px 15px; text-align: center;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.8s;
    }
    main .brand_slogan_wrap .brand_slogan p {font-family:'pretendard', 'Noto Snas KR';}
    main .brand_slogan_wrap .brand_slogan p:nth-child(1){font-family: 'HYGothic-Extra', 'pretendard'; font-size: 0.625rem; margin-bottom: 15px;}
    main .brand_slogan_wrap .brand_slogan p:nth-child(2){font-size: 1.875rem; font-weight: 500; margin-bottom: 29px;}
    main .brand_slogan_wrap .brand_slogan p:nth-child(3){font-size: 0.813rem; line-height: 1.8;}
    /* 스크롤 했을 때 브랜드 슬로건 active 클래스 주기 */
    /* 숨겨져 있다가 스크롤 시 위로 올라오는 애니메이션 */
    main .brand_slogan_wrap .brand_slogan.active {
        opacity: 1;
        transform: translateY(0);
    }
        /* --------------------------------------------------------------3행 시작 */
    main .best_product_wrap {padding: 60px 15px;}
    /* 제목 디자인 */
    main .best_product_wrap .title_more_wrap {}
    main .best_product_wrap .title_more_wrap .title_g * {}
    main .best_product_wrap .title_more_wrap .title_g {width: 267px;}
    main .best_product_wrap .title_more_wrap .title_g .title {font-size: 1.75rem; margin-bottom: 8px;}
    main .best_product_wrap .title_more_wrap .title_g .sub_title {font-size: 0.938rem; line-height: 1.5;}
    /* 더보기 및 더보기 호버 */
    main .best_product_wrap .title_more_wrap .more {
        width: 42px; height: 42px;
        background-image: url(../images/best_wrap/more_m.svg);
    }
    main .best_product_wrap .title_more_wrap .more img {}
    main .best_product_wrap .title_more_wrap .more:hover {background-image: url(../images/best_wrap/more_m_hover.svg);}
    /* 상품 디자인 */
    main .best_product_wrap .best_product_swiper {}
    main .best_product_wrap .best_product_swiper .swiper-wrapper {}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide {}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide * {}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide a {width: 100%; aspect-ratio: 195 / 228; margin-bottom: 18px;}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .product_name {}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .product_name .name {line-height: 1.5; font-size: 0.844rem; margin-bottom: 6px;}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .product_name .sub_txt  {font-size: 0.719rem; margin-bottom: 26px;}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .price  {font-size: 0.75rem; margin-bottom: 17px;}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .cart  {text-align: center;}
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .cart .cart_btn  {line-height: 32px; width: 100%; font-size: 0.75rem;}
    /* 장바구니 호버기능 */
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .cart:hover .cart_btn {line-height: 32px; font-size: 0.75rem;}
    /* 베스트상품 이미지 연결 및 호버 연결 */
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img1 {
        background-image: url(../images/best_wrap/best_product_1.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img1:hover {
        background-image: url(../images/best_wrap/best_product_1_hover.jpg); 
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img2 {
        background-image: url(../images/best_wrap/best_product_2.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img2:hover {
        background-image: url(../images/best_wrap/best_product_2_hover.jpg); 
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img3 {
        background-image: url(../images/best_wrap/best_product_3.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img3:hover {
        background-image: url(../images/best_wrap/best_product_3_hover.jpg); 
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img4 {
        background-image: url(../images/best_wrap/best_product_4.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img4:hover {
        background-image: url(../images/best_wrap/best_product_4_hover.jpg); 
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img5 {
        background-image: url(../images/best_wrap/best_product_5.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img5:hover {
        background-image: url(../images/best_wrap/best_product_5_hover.jpg); 
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img6 {
        background-image: url(../images/best_wrap/best_product_6.jpg); 
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-out;
    }
    main .best_product_wrap .best_product_swiper .swiper-wrapper .swiper-slide .best_product_img6:hover {
        background-image: url(../images/best_wrap/best_product_6_hover.jpg); 
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    /* 버튼 디자인 */
    main .best_product_wrap .best_prev,
    main .best_product_wrap .best_next {display: none; position: absolute; width: 38px; height: 38px; color: rgba(34, 34, 34, 0.6);}

    main .best_product_wrap .best_prev {transform: translate(20%, 80%);}
    main .best_product_wrap .best_next {transform: translate(-20%, 80%);}
    /* 스크롤바 디자인 */
    main .best_product_wrap .best_scrollbar {
        display: flex;
        height: 6px;
        width: calc(100%-30px); position: absolute; left: 50%; transform: translateX-(50%); top: 96%;
    }
    main .best_product_wrap .swiper-scrollbar-drag {background: var(--color-txt);}
}/* 모바일 끝 */