/* var.css */
:root {
    --color-point:#0DD92F; /*포인트 컬러 */
    --color-txt: #222;
    --color-bg: #fff;
    --color-menu-active: rgba(251, 251, 251, 0.2);
    --color-menu-bg: rgba(0, 0, 0, 0.2);
}

/* 반복 클래스 정리 */
.flex-r-e-c{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.flex-r-b-c {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
}

.flex-r-c-c {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

.flex-r-b-e {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.flex-r-s-s {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


.flex-c-b-s {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: space-between;
}
.flex-c-s-c {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-c-c-c {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.flex-c-s-s {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}